* {
    color: white;
}

.app {
    background-color: black;
    height: 100%;
    overflow: auto;
}

.content {
    margin: 0 auto;
    max-width: 80rem;
}

.title {
    text-align: center;
    padding-top: 2rem;
}

.gif {
    display: flex;
    margin-bottom: 5%;
    justify-content: center;
}

.program {
    display: flex;
    margin-bottom: 5rem;
}

.programlister {
    display: flex;
    margin-left: 1rem;
}

.programlister__element {
    list-style-type: none;
}

* td:not(.td__tid) {
    max-width: 20rem
}

.td__tid {
    vertical-align: top;
    width: 8rem;
    height: 100%;
    background-color: black
}