* {
    color: white;
}

.app {
    background-color: black;
    height: 100%;
    overflow: auto;
}

.content {
    margin: 0 auto;
    max-width: 80rem;
}

.title {
    text-align: center;
    padding-top: 2rem;
}

.gif {
    display: flex;
    margin-bottom: 5%;
    justify-content: center;
}

.program {
    display: flex;
    margin-bottom: 5rem;
}
